name: Build NekoOS
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y nasm gcc gcc-multilib make grub-pc-bin xorriso mtools
    
    - name: Build
      run: |
        make clean
        make
    
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: nekoos
        path: |
          build/kernel.bin
          nekoos.iso
